.header {
    background-color: lawngreen;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    color: black;
    font-size: 24px;
    font-weight: bold;
}