.header {
    background-color: green;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    color: black;
    font-size: 24px;
    font-weight: bold;
}