.outerContainer {
  background-color: aquamarine;
  padding: 2rem;
  display: flex;
  @media screen and (max-width: 768px) {
    padding: 0.5rem;
    flex-direction: column-reverse;
    gap: 3rem;
    margin: 2rem;
    align-items: center;
  }
  @media screen and (min-width: 1024px) {
    padding: 2rem 5rem;
  }
  @media screen and (min-width: 1440px) {
    padding: 2rem 20rem;
    
  }
}
.leftContainer {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  @media screen and (max-width: 600px) {
    padding: 0.5rem;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 5rem;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
  .normalText {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .stats {
    color: #0070f2;
  }
}
.rightContainer {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  .poster {
    width: 450px;
    height: 600px;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }
}
