.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lime;
}
.titleText {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
.subtitleText {
  font-size: 1rem;
  color: black;
  text-align: center;
}
.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  padding: 1rem;
  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.searchInput {
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  min-width: 400px;
  @media (max-width: 600px) {
    width: 100%;
  }
}
.searchBtn {
    min-width: 12rem;
  text-align: center;
  @media (max-width: 600px) {
    width: 100%;
  }
}
.resetBtn {
    min-width: 12rem;
  @media (max-width: 600px) {
    width: 100%;
  }
}
